@CHARSET "UTF-8";

#functiondiv{
	border-top: 1px solid #D8D6D6;
	border-left: 1px solid #D8D6D6;
	border-right: 1px solid #D8D6D6;
	border-bottom: 1px solid #D8D6D6;
	position:absolute;
	z-index:100;
	background-color:#f6f6f6;
}
#functiondiv div{
	padding-left: 22px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	margin:1px;
	border-bottom: 2px inset #D8D6D6;
}